/* FORMS */
form {
    display: flex;
    background-color: #8063FA;
  }
  
  input[type=text] {
    flex-grow: 1;
    border-width: 0 0 1px 0;
    margin: 15px 10px 15px 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #5B45B9;
    border-style: none;
    text-shadow: none;
    text-transform: uppercase;
    color: #C7BCF8;
    letter-spacing: 2px;
    outline: none;
  }
  
  input[type=text]::-webkit-input-placeholder{
    color: #C7BCF8;
    letter-spacing: 2px;
  }
  
  input[type=text]:focus{
    background-color: rgba(0, 0, 0, 0.2);
  }