body {
    background: #e8e7e7; 
    font-family: arial;
    text-transform: uppercase;
  }
  
  header {
    color: #FFF;
    padding: 5px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #8063FA;
    border-bottom: solid 2px #D4CAFF;
  }
  
  header h1 {
    flex-grow: 1;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: normal;
  }
  